body {
    font-family: "Open Sans", sans-serif;
}
/*hero-section*/
.hero-section {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(images/herobg.jpg) center !important;
    background-attachment: fixed;
    height: 97vh;
    width: 100%;
    vertical-align: middle;
}
.btn {
    background-color: transparent !important;
    border: 2px solid #fff !important;
    border-radius: 70px !important;
    padding: 8px 35px 10px 35px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #fff !important;
}
/*counter section*/
.counter-sect{
    background-color: rgba(249,249,249,1);
}
/*GADOL-styles*/
.container-fluid {
    margin-top: 40px;
    margin-bottom: 30px;
}
.row {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card {
    margin-bottom: 30px;
}
.card-body {
    background-color: transparent ;
    border: green;
    border-radius: 0%;
}
a:hover {
    color: green !important;
    text-decoration: none !important;
}
a {
    text-decoration: none;
    text-transform: none; 
}
#lorem {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-eye {
    color: gold;
    width: 15px;
    height: 15px;
    position: relative;
}
.my-lorem:hover {
    border-color: green !important;
    border-radius: 0px;
}
#dolor {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-infinity {
    color: rgb(81, 48, 224);
    width: 15px;
    height: 15px;
    position: relative;
}
.my-dolor:hover {
    border-color: green !important;
    border-radius: 0px;
}
#sed {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-graduation-cap {
    color: crimson;
    width: 15px;
    height: 15px;
    position: relative;
}
.my-sed:hover {
    border-color: green !important;
    border-radius: 0px;
}
#magni {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-rectangle-xmark {
    color: rgb(163, 113, 163);
    width: 15px;
    height: 15px;
    position: relative;
}
.my-magni:hover {
    border-color: green !important;
    border-radius: 0px;
}
#nemo {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-arrows-turn-right {
    color: rgb(87, 87, 224);
    width: 15px;
    height: 15px;
    position: relative;
}
.my-nemo:hover {
    border-color: green !important;
    border-radius: 0px;
}
#eiusmod {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-star {
    color: rgb(169, 129, 56);
    width: 15px;
    height: 15px;
    position: relative;
}
.my-eiusmod:hover {
    border-color: green !important;
    border-radius: 0px;
}
#midela {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-codepen {
    color: turquoise;
    width: 15px;
    height: 15px;
    position: relative;
}
.my-midela:hover {
    border-color: green !important;
    border-radius: 0px;
}
#pira {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-video {
    color: rgb(53, 48, 211);
    width: 15px;
    height: 15px;
    position: relative;
}
.my-pira:hover {
    border-color: green !important;
    border-radius: 0px;
}
#dirada {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-table-cells-large {
    color: rgb(165, 93, 41);
    width: 15px;
    height: 15px;
    position: relative;
}
.my-dirada:hover {
    border-color: green !important;
    border-radius: 0px;
}
#moton {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-baseball {
    color: brown;
    width: 15px;
    height: 15px;
    position: relative;
}
.my-moton:hover {
    border-color: green !important;
    border-radius: 0px;
}
#verdo {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-wave-square {
    color: rgb(244, 160, 4);
    width: 15px;
    height: 15px;
    position: relative;
}
.my-verdo:hover {
    border-color: green !important;
    border-radius: 0px;
}
#flavor {
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: 35px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: black;
}
.fa-sun {
    color: green;
    width: 15px;
    height: 15px;
    position: relative;
}
.my-flavor:hover {
    border-color: green !important;
    border-radius: 0px;
}
/*popular courses styles*/
.green-button {
    color: #fff;
    background-color: #5fcf80;
    border: #5fcf80;
}
.ff-popins {
    font-family: "Poppins", sans-serif;
}
.ff-raleway {
    font-family: "Raleway", sans-serif;
}
.hover-green:hover {
    cursor: pointer;
    color: #5fcf80!important;
}
.hover-green {
    cursor: pointer;
}
.text-black {
    color: #37423b !important;
}
h3.section-title {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:
        color-mix(in srgb, #444444, transparent 50%);
    position: relative;
}
.section-title::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #5fcf80;
    margin: 4px 10px;
}
.fs-8 {
    font-size: 0.85rem !important;
}
.text-grey {
    color: color-mix(in srgb, #444, transparent 20%) !important;
}
/*footer style*/
#footer{
    background-color:rgb(249,249,249) !important;
     height: 60vh;
    justify-content: space-evenly;
    padding: 39px 20px;
}
.foot1{
    display: flex;
    justify-content: space-evenly;
}
.b1 p a{
    color: #000 !important;
    text-decoration: none !important;
    font-size: 14px !important;
}
#pic{  
    
    margin-right: 100px;
    display: flex;
}
#cp{
    text-align: center;
}
#cp p span{
    color: yellow;
}
.b1 p :hover{
    color: orange;
}
.img3{
    position: relative;  
}
.images{
    width: 100%;
    max-width: 400px;
    height: 400px;
}
/* Trainers styles */
.card {
    border: none!important;
    border: 1px solid rgba(179, 177, 177, 0.233)!important;
}
